version: '3'

services:
  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    volumes:
      - ./backend/:/usr/src/app
    networks:
      - webnet
  kontur:
    build:
      context: ./kontur/
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    ports:
      - '5000:5000'
    volumes:
      - ./kontur/:/usr/src/app
    networks:
      - webnet
  postgresdb:
    image: postgres
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - webnet
    env_file:
      - .env
    ports:
      - '5432:5432'
      
networks:
  webnet:
    driver: bridge
    name: webnet

volumes: 
  postgres: 