version: '3'

services:
  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    depends_on:
      - postgresdb
    ports:
      - '9000:9000'
    volumes:
      - ./backend/:/usr/src/app
    networks:
      - webnet

  kontur:
    build:
      context: ./kontur/
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    ports:
      - '5000:5000'
    volumes:
      - ./kontur/:/usr/src/app
    networks:
      - webnet

  frontend:
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    volumes:
      - ./frontend/:/usr/src/app
    networks:
      - webnet
    command: 'yarn serve'

  postgresdb:
    image: postgres
    environment:
      - POSTGRES_DB
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    volumes:
      - postgres:/var/lib/postgresql/data
    networks:
      - webnet
    env_file:
      - .env
    ports:
      - '5432:5432'

  nginx:
    build:
      context: ./nginx/
    ports:
      - '80:80'
    volumes:
      - ./logs:/var/log/nginx/
    depends_on:
      - frontend
    networks:
      - webnet
    env_file:
      - .env

networks:
  webnet:
    driver: bridge

volumes:
  postgres:
